/* .container {
  margin-left: 400px;
} */

/* :root宣言ができない */

.github__button {
  /* text-white hover:text-gray-100 text-2xl */
  color: white;
  transition: all 0.3s;
}
.github__button:hover {
  color: gray;
}
